.heading-text {
  font-family: var(--header-font-family);
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-7);
  padding: var(--size-5) var(--size-000) var(--size-1) var(--size-000);
  color: var(--primary-text-color);
  margin-bottom: var(--size-3);
}

h1,
.title-text {
  font-family: var(--header-font-family);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-7);
  color: var(--primary-text-color);
  border-left: var(--primary-color) var(--border-size-3) solid;
  padding-top: var(--size-2);
  padding-left: var(--size-3);
}

h2,
.subtitle-text {
  font-family: var(--header-font-family);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-7);
  color: var(--primary-text-color);
}

.text {
  font-family: var(--text-font-family);
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-2);
  line-height: var(--size-5);
  letter-spacing: var(--font-letterspacing-1);
  color: var(--primary-text-color);
}

.subtext {
  font-family: var(--text-font-family);
  font-size: var(--size-relative-7);
  font-weight: var(--font-weight-4);
  letter-spacing: var(--font-letterspacing-0);
}

.remark {
  font-family: var(--text-font-family);
  font-size: var(--size-relative-3);
  font-weight: var(--font-weight-4);
  color: var(--primary-text-color);
}