.header-menu {
    background-color: var(--primary-color);
    padding: 5px;
    width: 100%;
    z-index: 100;
    position: fixed;
    border-bottom: var(--shadow-color) 1px solid;
    box-shadow: 0 2px 10px 2px var(--shadow-color);
}

.navbar div {
    float: left;
    padding: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    color: var(---secondary-color);
    text-decoration: none;
    text-align: center;
    border-radius: 0.1em;
    transition: 0.3s;
}

.navbar div:hover {
    background-color: var(--secondary-color);
}

.content-logo {
    height: 350px;
    width: auto;
}

.flex-row {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0 4px;
    max-width: 570px;
}

/* Create four equal columns that sits next to each other */
.flex-column {
    flex: 50%;
    max-width: 35%;
    padding: 0 4px;
}

.flex-column img {
    margin-top: 8px;
    vertical-align: middle;
}

@media (max-width: 800px) {
    .flex-row {
        flex: 75%;
        max-width: 75%;
    }
}

@media (max-width: 600px) {
    .flex-row {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 450px) {
    .flex-row {
        flex: 30%;
        max-width: 100%;
    }
}

div.ecosystem-gallery {
    margin: 0.2em;
    border: 0.1em solid #ccc;
    float: left;
    width: 9em;
    height: 15em;
}

div.ecosystem-gallery:hover {
    border: 0.2em solid #777;
}

div.ecosystem-gallery img {
    width: 100%;
    height: auto;
}

div.ecosystem-gallery .desc {
    padding: 0.1em;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}
div.ecosystem-gallery .desc-sub {
    padding-top: 0.1em;
    text-align: center;
    font-size: 0.8em;
}

* {
    box-sizing: border-box;
}
