{% macro render_header() %}
{% set section = get_section(path="_index.md") %}
<div class="navbar-logo">
    <a href="{{ section.permalink | safe }}">
        <img src="{{ get_url(path=config.extra.rustic_logo_path) }}" alt="logo" /> {{ config.extra.rustic_logo_name }}
    </a>
</div>

<nav>

    <div class="menu-items">
        {% for page in section.pages %}
        {% set exclude_menu = config.extra.rustic_exclude_menu | default(value=[]) %}
        {% if exclude_menu is not containing(page.title) %}
        <div class="nav-item">
            <a class="subtitle-text" href="{{ page.permalink | safe }}">
                <p>{{ page.title }}</p>
            </a>
        </div>
        {% endif %}
        {% endfor %}
        {% if config.extra.rustic_extra_menu %}
        {% for menu in config.extra.rustic_extra_menu %}
        <div class="nav-item">
            <a class="subtitle-text" href="{{ menu.link | safe }}">
                <p>{{ menu.title }}</p>
            </a>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="menu-items-hamburger">
        {% for page in section.pages %}
        {% set exclude_menu = config.extra.rustic_exclude_menu | default(value=[]) %}
        {% if exclude_menu is not containing(page.title) %}
        <div class="nav-item">
            <a class="subtitle-text" href="{{ page.permalink | safe }}">
                <p>{{ page.title }}</p>
            </a>
        </div>
        {% endif %}
        {% endfor %}
        {% if config.extra.rustic_extra_menu %}
        {% for menu in config.extra.rustic_extra_menu %}
        <div class="nav-item">
            <a class="subtitle-text" href="{{ menu.link | safe }}">
                <p>{{ menu.title }}</p>
            </a>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="hamburger">
        <div class="hamburg">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>
    <script>
        var hamburger = document.querySelector(".hamburg");
        var hamburger_menu = document.querySelector(".hamburger");
        var menu_items_hamburger = document.querySelector(".menu-items-hamburger");
        hamburger_menu.onclick = function () {
            hamburger.classList.toggle("checked");
            if (hamburger.classList.contains("checked")) {
                menu_items_hamburger.setAttribute("style", "display: flex;");
            } else {
                menu_items_hamburger.setAttribute("style", "display: none;");
            }
        }
    </script>

</nav>
{% endmacro render_header %}